@page
@model ClinicaMedica.Web.Pages.Tratamentos.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Tratamentos</title>
</head>
<body>
<div>
    <h2>Tratamentos</h2>
</div>
</body>
</html>